*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
color: #fff;
}

html,body{
height: 100%;

width: 100%;
}
#cursor{
    height: 15px;
    width: 15px;
    background-color:rgb(8, 189, 255);
    border: 1px solid black;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur{
    height: 200px;
    width: 200px;
    background-color: rgba(0, 221, 255, 0.248);
    border-radius: 50%;
    position: fixed;
    filter: blur(30px);
     z-index: 9; 
}
#nav{
    width: 100%;
    height: 10%;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    align-items: center;
    padding: 0px 150px;
    gap: 60px;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
    /* border: 1px solid whitesmoke;
    border-radius: 5px; */
}

#nav i{
    height: 20px;
    padding: 20px ;
}

#nav img{
    height: 50px;
}

#nav h4{
     text-transform:uppercase ;
     font-size: 15px;
     font-weight: 600;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    /* padding-top: 5px; */
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.221);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    z-index: 10;
}

#page1 h1{
          font-size: 120px;
          position: relative;
          font-weight: 600;
}

#page1 h2{
    font-size: 50px;
    margin-top: 8px;
    font-weight: 600;
    margin-bottom: 8px;
}
/* pseudo elements */
#page1 h1::before{
    content: "EAT.DRINK.PLAY";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px rgb(25, 66, 201);
    z-index: -1;
}

#page1 p{
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    width: 30%;
   
}

#page1 #arrow{
    height: 190px ;
    width: 190px;
    background-color: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -1%;
    bottom: 0%;
    border: 2px solid rgb(47,93,236);
    border-radius: 50%;
    transition: all ease 1s;

}

#page1 #arrow:hover{
    scale:1.2;
    background-color: rgb(47,93,236);
    border: none;
}
#page1 #arrow i{
     font-size: 80px;
     color: whitesmoke;
     -webkit-text-stroke: 2px rgb(10, 16, 16) ;
     /* font-weight: 100;/ */
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}


#scroller{
    padding: 20px;
    margin: 30px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in-1{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
}
#scroller-in-1{
    display: inline-block;
    white-space: nowrap;
}
#scroller h4{
    display: inline-block;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    /* margin-right: 30px; */
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px rgb(47,93,236);
}
#scroller h4:hover{
    color:rgb(47,93,236);
}

@keyframes scroll{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    padding: 0px 50px;
    margin: 50px,0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
}

#about-us img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    /* transition: all ease 1s; */
}

#about-us-in{
    /* height: 100%; */
    width: 40%;
    /* background-color: violet; */
    margin: 30px;
    text-align: center;
}

#about-us-in h3{
    font-size: 40px;
     font-weight: 800;
     margin-bottom: 5px;

}

#about-us-in p{
    font-size: 20px;
    line-height: 30px;
     padding: 10px;
     /* font-weight: 600; */
     font-family: 'Times NeW Roman';

}

#cards-container{
    height: 50vh;
    /* background-color: aqua; */
    margin: 20vh 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
    z-index: 10;

}

.card{
    height: 100%;
    /* background-color: aqua; */
    width: 30%;
    border-radius: 10%;
        z-index: 10;

        /* overflow: hidden; */
        transition: all ease 0.6s;
}

#contain-1{
    position: relative;
    background-image: url(https://i.pinimg.com/236x/12/86/e8/1286e8e59d412eca38e9980df7a37d58.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-size: contain;
        background-position:center;
        /* overflow: hidden; */

}
#contain-2{
    background-image: url(https://i.pinimg.com/236x/e8/26/e6/e826e613eb6ad7b99420731d88437e3f.jpg);
    background-repeat: no-repeat;
    background-size:100%;
     background-size: contain;
        background-position:center;

    
}
#contain-3{
    background-image: url(https://i.pinimg.com/236x/57/a3/3d/57a33d9dedad36166bd3cab3c700518c.jpg);
    background-repeat: no-repeat;
    background-size:100%;
     background-size: contain;
        background-position:center;

}

.overlay{
    height: 100%;
    width: 100%;
    background: rgb(47,93,236);
    background: linear-gradient(90deg, rgba(47,93,236,1) 21%, rgba(0,212,255,1) 62%, rgba(21,21,255,1) 85%);
    padding: 6vh;
    padding-top: 3vh;
    opacity: 0;
    transition: all ease 1.2s;

}

.overlay h4{
    color: black;
    padding: 15px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
}

.overlay p{
    color: black;
    padding: 10px;
    font-size: 20px;
}

.card:hover .overlay{
    opacity: 1;
    border-radius: 18%;
    /* transform: rotate3d(-3,-3,0,10deg); */
}

.card:hover {
    transition: all ease 1.2s;
}


#aqua-div{
       height: 200px;
       width: 100%;
       /* background: aqua; */
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 100px;
       margin: 50px 0px 50px;
       position: relative;
       background: rgb(47,93,236);
       background: linear-gradient(90deg, rgba(47,93,236,1) 21%, rgba(0,212,255,1) 62%, rgba(21,21,255,1) 85%);
       z-index: 10;

    }
 /* #aqua-div img{
     mix-blend-mode:multiply;
     filter: contrast(5);
    
    } */

#aqua-div h4{
    font-size: 60px;
    font-weight: 900;
   text-transform: uppercase ;
   color: rgba(57, 235, 255, 0.936);
   -webkit-text-stroke: 2px black;
   position: relative;
   
}
#dot-left{
    height: 80%;
    position: absolute;
    left: 1%;
    z-index: 1;
    border-radius: 40px;

}


#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3>p{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    padding: 10px;
    margin: 10px;
    width: 45%;

}

#page3 img{
    position: absolute;
    height: 50px;

}

#page3 #quotation1{
    left: 20%;
    top: 30%;
}

#page3 #quotation2{
    right: 20%;
    bottom: 30%;
}

#page4{
    height: 50vh;
    width: 100%;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    position: relative;
    margin: 50px 0px;
}

#page4 h1{
    
    font-size: 100px;
    position: absolute;
    color: rgb(230, 230, 230);
    top:-19%;
    font-weight: 600;
    -webkit-text-stroke: 2px rgb(47,93,236);

}

.elem{
    height: 80%;
    width: 25%;
     /* background-color: beige; */
     padding: 10px;
     margin: 30px;
    border-radius: 20px;
     position: relative;
     
}

.elem h2{
    width: 95%;
    height: 95%;
    background-color: rgb(47,93,236);
    color: #0e0d0c;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    /* overflow: hidden; */
    box-shadow: 10px 10px 0px #d1d1cfd2;
    position: absolute;
    border-radius: 20px;
    z-index: 10;
    
  } 
.elem img{
    height: 100%;
    width:  100%;
  object-fit:cover;
  border-radius: 20px;
}

.elem:hover h2{
      color: rgb(255, 248, 248);
      background-color: transparent;
      transition: all ease 1.2s;
      -webkit-text-stroke: 3px black;
      box-shadow: none;
}

.elem:hover img{
    scale: 1.1;
    border: 3px solid  rgb(230, 231, 233);
    transition: all ease 1s;
}

#elem-3:hover img{
    scale: 1.1;
    border: 3px solid rgb(40, 114, 36);
    transition: all ease 1s;
}

